# Core Libraries
fastapi
uvicorn
streamlit
# Core Packages
langchain-core
langchain-google-genai

python-dotenv

protobuf
# PDF Processing
PyPDF2
# Vector Database
chromadb
sentence-transformers

# Machine Learning
torch
# Additional Utilities
requests
python-multipart
uuid
